{% extends 'homebase.html' %}

{% block title %} Hakkımızda | {{ settings.company }} {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}
{% block head %} <link rel="shortcut icon" href="{{ settings.icon.url }}" type="image/x-icon"> {% endblock %}


{% block body %}
        <!--
Body Section
-->
	<hr class="soften">
	<div class="well well-small">
	<h1>About us</h1>
	<hr class="soften"/>
	<div class="row-fluid">
		<div class="span12 relative">
            {{ settings.aboutus |safe }}
		</div>

	</div>


</div>
{% endblock %}