{% load static %}
<!--
	Upper Header Section
-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="topNav">
        <div class="container">
            <div class="alignR">
                <div class="pull-left socialNw">
                    <a href="#"><span class="icon-twitter"></span></a>
                    <a href="#"><span class="icon-facebook"></span></a>
                    <a href="#"><span class="icon-youtube"></span></a>
                    <a href="#"><span class="icon-tumblr"></span></a>
                </div>
                <a class="active" href="/"> <span class="icon-home"></span> Home</a>
                {% if user.id is not None %}
                    <a href="/user"><span class="icon-user"></span> Hesabım</a>
                {% else %}
                    <a href="/signup"><span class="icon-edit"></span> Kayıt Ol </a>
                {% endif %}


                <a href="/hakkimizda"><span class="icon-envelope"></span> Hakkımızda</a>
                <a href="/iletisim"><span class="icon-envelope"></span> İletişim</a>
                {#				<a href=""><span class="icon-shopping-cart"></span> 2 Item(s) - <span class="badge badge-warning"> $448.42</span></a>#}
            </div>
        </div>
    </div>
</div>

<!--
Lower Header Section
-->
<div class="container">
    <div id="gototop"> </div>
    <header id="header">
        <div class="row">
            <div class="span4">
                <h1>
                    <a class="logo" href="/"><span>Twitter Bootstrap ecommerce template</span>
                        <img src="{% static 'img/car.png' %}" alt="bootstrap sexy shop">
                    </a>
                </h1>
            </div>
            <div class="span4">
                {% if messages %}
                    <div class="offerNoteWrapper">
                        {% for message in messages %}
                            <h1 class="dotmark">
                                <i class="icon-cut"></i>
                                Twitter Bootstrap shopping cart HTML template is available @ $14
                            </h1>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if user.id is not None %}
                <div class="span4 alignR">
                    <p><br> <strong> {{ user.first_name }} </strong><br><br></p>
                    <span class="btn btn-mini"><a href="#">Profile</a></span>
                    {#                    <span class="btn btn-warning btn-mini">$</span>#}
                    {#                    <span class="btn btn-mini">&pound;</span>#}
                    {#                    <span class="btn btn-mini">&euro;</span>#}
                </div>
            {% endif %}
        </div>
    </header>

    {#    <script>#}
    {#        $(function () {#}
    {#            #('#query').autocomplete({#}
    {#                source: "/search_auto/",#}
    {#                select: function (event, ui) {#}
    {#                    AutoCompleteSelectHandler(event, ui)#}
    {#                },#}
    {#                minLength: 2,#}
    {#            });#}
    {#        });#}
    {#        function AutoCompleteSelectHandler(eveti, ui) {#}
    {#            var selectedObj = ui.item;#}
    {#        }#}
    {#    </script>#}

    <!--
    Navigation Bar Section
    -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="index.html">Home	</a></li>
                        <li class=""><a href="">List View</a></li>
                        <li class=""><a href="">Grid View</a></li>
                        <li class=""><a href="">Three Column</a></li>
                        <li class=""><a href="">Four Column</a></li>
                        <li class=""><a href="">General Content</a></li>
                    </ul>
                    <form action="/search/" method="post" class="navbar-search pull-left">
                        {% csrf_token %}
                        <input type="text" placeholder="Search" class="search-query span2" name="query" id="query">
                    </form>

                    {% if user.id is not None %}

                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="/logout"><span class="icon-lock"></span> Logout</a>
                            </li>
                        </ul>

                    {% else %}

                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="icon-lock"></span> Login <b class="caret"></b></a>
                                <div class="dropdown-menu">
                                    <form class="form-horizontal loginFrm" action="{% url 'login_view' %}" method="post">
                                        {% csrf_token %}
                                        <div class="control-group">
                                            <input type="text" class="span2" id="inputEmail" placeholder="username" name="username">
                                        </div>
                                        <div class="control-group">
                                            <input type="password" class="span2" id="inputPassword" placeholder="Password" name="password">
                                        </div>
                                        <div class="control-group">
                                            <label class="checkbox">
                                                <input type="checkbox"> Remember me
                                            </label>
                                            <button type="submit" class="shopBtn btn-block">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>