{% extends 'homebase.html' %}

{% block title %} {{ settings.title }} {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}
{% block head %} <link rel="shortcut icon" href="{{ settings.icon.url }}" type="image/x-icon"> {% endblock %}

{% block sidebar %}
    <div class="row">
    {% include 'sidebar.html' %}
{% endblock %}



{% block slider %}
    <div class="span9">
    {% include 'slider.html' %}
{% endblock %}

{% block body %}
    {% include 'content.html' %}
    </div>
    </div>
{% endblock %}

