{% load static %}
<div id="sidebar" class="span3">
    <div class="well well-small">
        <ul class="nav nav-list categories">

            {% load mptt_tags %}

            {% recursetree categories %}
                <li>
                    <a href="/category/{{ node.id }}/{{ node.slug }}"><span class="icon-chevron-right"></span>{{ node.title }}</a>

                    {% if not node.is_leaf_node %}
                        <ul class="subcat">
                            {{ children }}
                        </ul>
                    {% endif %}


                </li>
            {% endrecursetree %}


            {#            <li style="border:0"> &nbsp;</li>#}
            {#            <li> <a class="totalInCart" href=""><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>#}
        </ul>
    </div>

    <div class="well well-small" ><a href="#"><img src="{% static 'img/paypal.jpg' %}" alt="payment method paypal"></a></div>

    <ul class="nav nav-list promowrapper">

        {% for rs in randomproducts %}
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="/product/{{ rs.id }}/{{ rs.slug }}" title="add to cart"><span class="icon-search"></span>VIEW</a>
                    <img src="{{ rs.image.url }}" alt="{{ rs.title }}">
                    <div class="caption">
                        <a href="/product/{{ rs.id }}/{{ rs.slug }}" style="padding-bottom: 10px;"><p>{{ rs.title }}</p></a>
                        <h4><a class="defaultBtn" href="">VIEW</a> <span class="pull-right">{{ rs.price }}TL</span></h4>
                    </div>
                </div>
            </li>
        {% endfor %}

    </ul>

</div>