{% extends 'homebase.html' %}
{% load static %}

{% block title %} {{ profile.user.username }} Profile {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}
{% block head %} <link rel="shortcut icon" href="{{ settings.icon.url }}" type="image/x-icon"> {% endblock %}

{% block sidebar %}
    <div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list user-panel">
                {% include 'profile_panel.html' %}
            </ul>
        </div>

    </div>
{% endblock %}

{% block body %}
    <div class="span9">
        <div class="well well-small">
            <h3> Şifreyi Değiştir </small></h3>
            <hr class="soft"/>

            <form class="" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {% for field in form %}
                    <div class="control-group">
                        <label class="control-label" for="inputFname">{{ field.label_tag }}</label>
                        <div class="controls">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <small style="color: grey;">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <small style="color: red;">{{ error }}</small>
                        {% endfor %}

                    </div>
                {% endfor %}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Değiştir" class="exclusive shopBtn">
                    </div>
                </div>

            </form>
            <div class="alignR"><a href="/user" class="shopBtn btn-large">Back to Profile</a></div>
        </div>
    </div>
    </div>
{% endblock %}

