<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Gallery</title>
</head>
<body>

<h2>{{ product.title }}</h2>
<hr>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tag }}" role="alert">
            {{ message |safe }}
        </div>
    {% endfor %}

{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="product_id" id="id_product_id" value="{{ product.id }}">
    <label for="id_title">Title:</label>
    <input type="text" name="title" id="id_title" placeholder="title">
    <label for="id_image">Image:</label>
    <input type="file" name="image" id="id_image" placeholder="image" accept="image/*">
    <button>Upload Image</button>
</form>

<hr>

<h4>Yüklenen Resimler</h4>

{% for rs in images %}
    <img src="{{ rs.image.url }}" height="200px">
{% endfor %}
</body>
</html>