<li><img src="{{ profile.image.url }}" alt="" style="border: 2px solid darkgrey; border-radius: 3px; margin-bottom: 10px;"></li>
<li><a href="/user">◉ Profil</a></li>
<li><a href="/user/products">◉ Araçlarım</a></li>
<li><a href="/user/comments">◉ Yorumlarım</a></li>
<li><a href="/user/update">◉ Profili Düzenle</a></li>
<li><a href="/user/password">◉ Şifre Değiştir</a></li>
<li><a href="/logout">◉ Çıkış</a></li>

<li style="border:0"> &nbsp;</li>
<li> <a class="totalInCart" href=""><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>