{% extends 'homebase.html' %}
{% load static %}

{% block title %} {{ profile.user.username }} Profile {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}
{% block head %} <link rel="shortcut icon" href="{{ settings.icon.url }}" type="image/x-icon"> {% endblock %}

{% block sidebar %}
    <div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list user-panel">
                {% include 'profile_panel.html' %}
            </ul>
        </div>

    </div>
{% endblock %}

{% block body %}
    <div class="span9">
        <div class="well well-small">
            <h3> {{ profile.user.first_name }} {{ profile.user.last_name }} <small> {{ profile.user.username }} </small></h3>
            <hr class="soft"/>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tag }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

            {% endif %}

            <table id="compairTbl" class="table table-bordered">

                <tbody>
                <tr>
                    <td>Email</td>
                    <td>{{ profile.user.email }}</td>
                </tr>
                <tr>
                    <td>Telefon</td>
                    <td>{{ profile.phone }}</td>
                </tr>
                <tr>
                    <td>Ülke</td>
                    <td>{{ profile.country }}</td>
                </tr>
                <tr>
                    <td>Şehir</td>
                    <td>{{ profile.city }}</td>
                </tr>
                <tr>
                    <td>Adres</td>
                    <td>{{ profile.address }}</td>
                </tr>
                <tr>
                    <td>Son Giriş</td>
                    <td>{{ profile.user.last_login }}</td>
                </tr>
                <tr>
                    <td>Kayıt Tarihi</td>
                    <td>{{ profile.user.date_joined }}</td>
                </tr>
                </tbody>
            </table>
            <div class="alignR"><a href="/user/update" class="shopBtn btn-large">Bilgileri Düzenle</a></div>
        </div>
    </div>
    </div>
{% endblock %}

